<div class="container mt-5">
  <div class="col-md-12 row mb-3">

    <div class="col input-group ">
      <div class="form-outline">
        <input type="search" id="form1" class="form-control search" placeholder="Search objects..." />
      </div>
      <button type="button" class="btn btn-primary">
        <i class="fa fa-search"></i>
      </button>
    </div>
    <div class=" col">
    <button type="button" class="btn btn-filter">
      <i class="fa fa-filter"></i>
    </button>
  </div>
    <div class=" col-md-auto justify-content-end">
      <button type="button" class="btn add-button" >
        <i class="fa fa-plus"></i> Yeni Hesap Ekle</button>
    </div>
  </div>

  
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th> </th>
          <th>Social Media Link <i class="fa fa-arrow-up icon " aria-hidden="true"></i></th>
          <th>Social Media Name <i class="fa fa-arrow-up icon" aria-hidden="true"></i></th>
          <th>Description <i class="fa fa-arrow-up icon" aria-hidden="true"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of socialMediaData; let i = index">
          <td>{{ i + 1 }}</td>
          <td><a [href]="item.link" target="_blank" class="item-link" >{{ item.link }}</a></td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
        </tr>
      </tbody>
    </table>
<div class="row">
    <div class="col input-group">
      <label for="show" class="show m-2">Show:</label>
      <div class="form-inline">
      <select class="form-select form-select-sm show-row mb-3" aria-label=".form-select-md example">
        <option selected>4 rows</option>
        <option value="1">5 rows</option>
        <option value="2">10 rows</option>
        <option value="3">20 rows</option>
      </select>
    </div>
    </div>
    <div class="col-md-auto justify-content-end">
    <nav aria-label="Page navigation ">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
  </div>