.btn-primary {
    height: fit-content;
    background-color: #744BFC;
    border-radius:50%;
}
.search {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.table {
    border-radius: 50px;
}